<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512799317433-npbbfrnkm18jgadh2nf9ccnp56askf9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512799317433-npbbfrnkm18jgadh2nf9ccnp56askf9u</string>
	<key>API_KEY</key>
	<string>AIzaSyAs23Hn5lkbinnU_O4L7pDMD_m7Bko2900</string>
	<key>GCM_SENDER_ID</key>
	<string>512799317433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ehubstudio.buzzpulsechat</string>
	<key>PROJECT_ID</key>
	<string>allegroconnect-5bd2e</string>
	<key>STORAGE_BUCKET</key>
	<string>allegroconnect-5bd2e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512799317433:ios:2eb7e110cc552a09fbaa68</string>
</dict>
</plist>